.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgrey;
    position: fixed;
    width: 75%;
    padding: 0.8rem;
    border-radius: 2rem;
    z-index: 1000;
    top: 1rem;
    
    &__titulo{
        font-style: italic;
    }

    &__nav{

        &__lista{
            display: flex;
            gap: 4rem;

            &__ancora{
                text-decoration: none;
                color: black;

                &__item{
                    list-style-type: none;
                    font-size: 1.2rem;

                    &:hover{
                        color: cyan
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 425px){
    .container{

        &__titulo{
            font-size: 0.7rem;
        }

        &__nav{

            &__lista{
                gap: 0.6rem;

                &__ancora{
    
                    &__item{
                        list-style-type: none;
                        font-size: 0.8rem;
                        
                    }
                }
    
            }
        }
    }
}